body {
    margin: 0;
    padding: 0;
}
header {
    padding: 25px
}
.header-wrapper {
    width: 60px;
    margin: 0 auto;
}
.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}